@import './data';

.user-nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: $color4;
    padding: 15px 0;

    div{
        display: flex;
        align-items: center;
        h3{
            font-weight: 300;
            color: $color2;
            margin-right: 10px;
        }

        img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            opacity: 0.7;
        }
        img:hover{
            opacity: 1;
        }
    }

    button{
        font-size: 1.2rem;
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 120px;
    }
}

@media only screen and(max-width:400px) {

    .user-nav{
        width: 100%;
        padding: 5px;    
        div{
            display: flex;
            width: 80%;
            align-items: center;
            h3{
                font-size: 1rem;
            }
    
            img{
                width: 40px;
                height: 40px;
                margin-right: 5px;
            }
        }    
        button{
            font-size: 1.1rem;
            justify-content: center;
            width: auto;
            border-radius: 5px;
            span{
                display: none;
            }
        }
    }
    
}


@media only screen and(min-width:401px) and(max-width:700px) {

    .user-nav{ 
        div{
            display: flex;
            width: 90%;
            align-items: center;
            justify-content: center;
            h3{
                font-size: 1.1rem;
            }
    
            img{
                width: 45px;
                height: 45px;
            }
        }    
        button{
            font-size: 1.1rem;
            justify-content: center;
            width: auto;
            border-radius: 5px;
            span{
                display: none;
            }
        }
    }
    
}


@media only screen and(min-width:701px) and(max-width:1000px) {
    .user-nav{
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        background-color: $color4;
        padding: 0px;
    }

}